<h1>Howdy again</h1>
<p>Thanks for submitting the following telephone number:
<%= params[:q] %></p>
<p>If it's been authenticated by Charles,look forward to receiving a text message 
very shortly from his Twilio number ending in 7017.</p>
<p>If it has not been authenticated, thank you for trying, but we need for you to 
authenticate the number with Charles first.</p>